{# 
  This template wraps the entire Topbar region, putting all blocks inside a single flexbox.
#}
{% if content %}
  <div class="icar-topbar-wrapper">
    <div class="icar-topbar-content">
      {{ content }}
    </div>
  </div>
{% endif %}
