{# 
  This template wraps the main Header region, aligning the logos and text side-by-side.
#}
{% if content %}
  <div class="icar-header-wrapper">
    <div class="icar-header-content">
      {{ content }}
    </div>
  </div>
{% endif %}
