{# 
  This template wraps the Main Navigation, creating a full-width background 
  with a centered container for the menu links.
#}
{% if content %}
  <nav class="icar-nav-wrapper">
    <div class="icar-nav-content">
      {{ content }}
    </div>
  </nav>
{% endif %}
