/web/sites/default/files/
/vendor/
/web/core/assets/vendor/
/web/core/modules/package_manager/tests/fixtures/fake_site/vendor/
/web/core/themes/stable9/css/core/assets/
/web/sites/default/settings.php
/.ddev/db_snapshots/
