.icar-farmer-page {
  width: 100%;
  background: #fff;
}

.icar-topbar {
  background: #005522;
  color: #fff;
  padding: 8px 5%;
  display: flex;
  justify-content: space-between;
}

.icar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 25px;
  text-align: center;
}

.icar-menu {
  background: #005522;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.icar-header img {
  width: 100px;
  height: auto;
}

.icar-header div {
  text-align: center;
  flex: 1;
}